[Unit]
Description=SSHGuard on rocket

[Service]
TimeoutStartSec=0
Restart=always

Environment=IMAGE_NAME=drmurx/docker-systemd-sshguard:0.0.1
Environment=BASE_IPTABLE=INPUT

ExecStartPre=-/usr/sbin/iptables -N sshguard
ExecStartPre=-/usr/sbin/iptables -D $BASE_IPTABLE -j sshguard
ExecStartPre=/usr/sbin/iptables -A $BASE_IPTABLE -j sshguard

ExecStartPre=-/usr/sbin/ip6tables -N sshguard
ExecStartPre=-/usr/sbin/ip6tables -D $BASE_IPTABLE -j sshguard
ExecStartPre=/usr/sbin/ip6tables -A $BASE_IPTABLE -j sshguard

ExecStartPre=/usr/bin/rkt fetch --insecure-options=image $IMAGE_NAME

ExecStart=/usr/bin/rkt run --volume journal,kind=host,source=/var/log/journal,readOnly=true --mount volume=journal,target=/app/journal --stage1-name=coreos.com/rkt/stage1-fly --insecure-options=image $IMAGE_NAME

ExecStopPost=/usr/bin/rkt gc --mark-only

[X-Fleet]
Global=true

[Install]
WantedBy=multi-user.target
