[Unit]
Description=SSHGuard on rocket

[Service]
TimeoutStartSec=0
Restart=always

Environment=IMAGE_NAME=docker://drmurx/docker-systemd-sshguard:0.3.0
Environment=IPTABLE_BASE=INPUT
Environment=IPTABLE_BASE_POS=0

ExecStartPre=/usr/bin/rkt fetch --insecure-options=image $IMAGE_NAME

ExecStart=/usr/bin/rkt run --stage1-name coreos.com/rkt/stage1-fly \
                           --volume journal,kind=host,source=/var/log/journal,readOnly=true \
                           --mount volume=journal,target=/app/journal \
                           --inherit-env \
                           --insecure-options image \
                           ${IMAGE_NAME}

ExecStopPost=/usr/bin/rkt gc --mark-only

[X-Fleet]
Global=true

[Install]
WantedBy=multi-user.target
